= form_for resource, as:           resource_name,
                     url:          session_path(resource_name),
                     html:         {class: "block-form"},
                     autocomplete: "off" do |f|

      %label#usernameLabel{for: "user_username"}
            Nom d'utilisateur
      = f.text_field :username,
                   placeholder: t("registrations.new.username"),
                   class: "input-block-level form-control",
                   required: true,
                   pattern: "[A-Za-z0-9_.@\-]+",
                   autocapitalize: "none",
                   autocorrect: "off",
                   autofocus: true,
                   aria: {labelledby: "usernameLabel"}
      %label#passwordLabel{for: "user_password"}
            Mot de passe
      = f.password_field :password,
                       placeholder: t("registrations.new.password"),
                       class: "input-block-level form-control",
                       required: true,
                       autocapitalize: "none",
                       autocorrect: "off",
                       aria: {labelledby: "passwordLabel"}

      = f.submit "Me connecter", class: "btn btn-large btn-block btn-primary"
