%h2
  Les inscriptions sur diaspora-fr sont fermées 

Vous pouvez rejoindre le réseau diaspora en vous enregistrant sur <a href="https://framasphere.org">Framasphère</a>, le noeud diaspora* maintenu par l'association <a href="https://framasoft.org">Framasoft</a>.
