<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Several websites, one network</h1>
        <p>diaspora* is a network of servers called "pods". With only one account, you will be able to share with every other diaspora* users, no matter the pod they are registered on.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <section class="card">
        <h2 class="card-title text-center">I don't have an account on a pod yet</h2>
        <div class="text-center">
          <button class="btn btn-primary">Create a new account on diaspora-fr.org</button>
        </div>
      </section>
    </div>

    <div class="col-sm-6">
      <section class="card">
        <h2 class="card-title text-center">I already have an account on another pod</h2>
        <div class="text-center">
          <button class="btn btn-success">Migrate my existing account to diaspora-fr.org</button>
        </div>
      </section>
    </div>
  </div>
</div>
