<div class="container">
  <p>diaspora* is a network composed of servers called pods. An account is able to talk to any other pods.</p>
  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>I don't have an account on a pod yet</legend>
        <p class="text-center">
          <button class="btn btn-primary">Create a new account on diaspora-fr.org</button>
        </p>
      </fieldset>
    </div>

    <div class="col-sm-6">
      <fieldset>
        <legend>I already have an account on another pod</legend>
        <div class="text-center">
          <button class="btn btn-success">Migrate my existing account</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
