-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.alert.alert-dismissible.alert-warning{:role => "alert", :aria_live => "polite", :aria_atomic => "true"}
  %button.close{:type => "button", :aria_label => "Fermer"} ×
  %div
    %p.text-center
      %b Attention : Framasphere ferme le 7 octobre 2021.
      Pensez à récupérer vos données ! Toutes les infos
      %a{:href => "https://framasphere.org/posts/b98c419062de0139f7062a0000053625"} sur ce post.
    %p.text-center
      %b Warning: Framasphere will be closed on Oct. 7, 2021.
      Please save and export your data! More info
      %a{:href => "https://framasphere.org/posts/b98c419062de0139f7062a0000053625"} here.

- if user_signed_in?
  .container-fluid.main-stream-publisher
    .pull-left.hidden-xs
      = owner_image_link
    = render "publisher/publisher", publisher_aspects_for(stream)

- if current_user&.getting_started?
  .stream#main-stream{:title => popover_with_close_html("3. #{t('.stay_updated')}"),
    "data-content" => t(".stay_updated_explanation")}
- else
  .stream#main-stream

#paginate
  .loader.hidden
    .spinner

- if current_user && current_user.contacts.size < 2
  = render 'aspects/no_contacts_message'
