<div id="single-post-container">
  <!--- Deframa-alert -->
  <div>
    <div role="alert" aria-live="polite" aria-atomic="true" class="alert alert-dismissible alert-warning" id="f-alert">
        <button type="button" aria-label="Fermer" class="close">×</button>
        <div>
            <p class="text-center">
                <b>Attention : Framasphere ferme le 7 octobre 2021</b>. Pensez à récupérer vos données ! Toutes les infos <a href="https://framasphere.org/posts/b98c419062de0139f7062a0000053625">sur ce post</a>.
            </p>
            <p class="text-center">
                <b>Warning: Framasphere will be closed on Oct. 7, 2021</b>. Please save and export your data! More info <a href="https://framasphere.org/posts/b98c419062de0139f7062a0000053625">here</a>.
            </p>
        </div>
    </div>
  </div>
  <div class='row'>
    <div id='single-post-content' class='col-md-6 single-post-content'>
    </div>
    <div id='single-post-interactions' class='col-md-6 single-post-interactions'>
    </div>
  </div>
</div>
